<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>testing results: Welcome to <%= title %></p>
    <!-- //"title" refers to routes/index.js file -->
  </body>
</html>


<!-- https://stackoverflow.com/questions/16285158/difference-between-jsp-expression-tags-and-->
