 

* {
    box-sizing: border-box; /*at the moment I don't know what is it for*/ 

} 

body {
    font-family:'Cinzel', serif;} /* Defines font for the whole page,*/
			
header {
	 font-family:'Ultra', serif; /* ovverrides body font settings*/
    background-color: blue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {    
    width: 30%;
    background: red;
    padding: 20px;
}

section {
	 display: flex;
	 background-color: blue;
	 padding: 10px;
	 width: 100%
	 }

article {
    padding: 10px;
    width: none;
    background-color: yellow;
    border: 10px;
    border-color:red;   
    }


aside {
	 background-color: orange;
	 padding: 10px;
	 width: none;
	 }
	 
    
footer {
	 padding: 30px;
	 color: pink;
	 background-color: black;

}


